.row {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 1.5rem;

  & > div:first-of-type {
    margin-right: 1rem;
  }
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  color: var(--color-text-primary);
}

.buttonGroup {
  display: flex;
  align-items: center;

  :global {
    .MuiButton-root {
      font-family: 'Baloo 2', sans-serif;
      font-weight: 500;
      min-width: 3rem;
      padding: 0.4rem 0.8rem;
      text-align: center;
      color: var(--color-text-primary);
      border-color: grey;

      &.MuiButton-contained {
        background-color: var(--color-toggle);
        color: white;
        border-color: var(--color-toggle);

        &:hover {
          background-color: var(--color-toggle);
          opacity: 0.9;
        }
      }

      &.MuiButton-outlined {
        border-color: grey;

        &:hover {
          background-color: rgba(128, 128, 128, 0.1);
          border-color: grey;
        }
      }
    }
  }
}
